* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    flex-direction: row;
    background-color: #444444fc;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

nav ul li {
    padding: 20px;
    transition: all ease-in-out 0.4s;

}

nav ul li a {
    text-decoration: none;
    color: inherit;
}

nav ul li:hover {
    transform: translateY(-3px);
}

#home {
    height: 800px;
    background-image: url(./coding-laptops.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-div {
    background-color: rgba(0, 0, 0, 0.2);
    width: 40%;
    height: 20%;
    display: flex;
    font-family: cursive;
    color: white;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
}

#about {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    text-align: center;
    background-color: #51012c;
}

#extra-info {
    margin-top: 40px;
    padding-top: 20px;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

p {
    font-size: 21px;
    font-family: "Proxima Soft", "Proxima Nova Soft", Helvetica, Arial, sans-serif;
}

#part-1, #part-2, #part-3 {
    background-color: #f9f1ad;
    width: 20%;
    padding: 20px;
    border-radius: 40px;
    margin-right: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 5px 5px 5px #f9f1ad;
}

#contact {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 200px;
    background-color: #ffcfda;
    font-size: 21px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#share {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
}

#email {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding-top: 10px;
}

#share svg {
    transition: all ease-in-out 0.2s;
}

#share svg:hover {
    transform: translateY(-3px);
}

button {
    width: 100px;
    height: 50px;
    border-radius: 20px;
    margin: auto;
    transition: all 0.2s;
}

button:hover {
    transform: scale(0.8);
}